<!DOCTYPE html>
<html lang="de">
{% include "header_template.html" %}
<body>
	{% include "navigation_template.html" %}
<main>
		<div class="container">
<!--Titel der Seite-->
<div class="card">
		<div class="card-body">
		  <h2 class="card-title">Add</h2>
		</div>
</div>

<br>

<!--Formular um Monat-->
<form method="POST">
	<div class="form-group">
			<div class="form-group">
					<label for="monthInput">Monat</label>
					<input type="text" class="form-control" id="monthInput" aria-describedby="month"
						placeholder="Monat eingeben" name="month">
					<small id="monthHelp" class="form-text text-muted"> Gebe den Monat als Zahl ein (Bsp. 08 für August)</small>
				</div>
				<div class="form-group">
					<label for="yearInput">Jahr</label>
					<input type="text" class="form-control" id="yearInput" aria-describedby="year"
						placeholder="Jahr eingeben" name="year">
					<small id="yearHelp" class="form-text text-muted">Gebe das Jahr wie folgt ein: 2019</small>
				</div>
		  </div>
	<button type="submit" class="btn btn-dark">Hinzufügen</button>
</form>


</div>
</main>
{% include "footer_template.html" %}
    
    
</body>
</html>