<!DOCTYPE html>
<html lang="de">
{% include "header_template.html" %}

<body>
	{% include "navigation_template.html" %}
	<main>
		<div class="container">
			<!--Begrüssung-->
			<div class="card text-center">
				<div class="card-body">
					<h1 class="card-title">Eintrag bearbeiten</h1>
				</div>
			</div>

			<br>
			
			<br>

			<div class="card-deck">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Betrag oder Beschreibung anpassen</h5>
						<p class="card-text">Passen Sie den Betrag oder die Beschreibung an, falls sich etwas verändert hat.</p>
					</div>
					<div class="card-footer">
						<form method="POST">
							<div class="form-group">
								<label for="exampleEarningsAmountInput1">Betrag</label>
    							<input type="number" class="form-control" id="exampleEarningsAmountInput1" name="amount" value="{{amount}}"/>
							</div>
							<div class="form-group">
								<label for="exampleEarningsTitleInput1">Titel</label>
    							<input type="text" class="form-control" id="exampleTitleAmountInput1" value="{{title}}" name="title">
							</div>
							<div class="form-group">
								<button type="submit" class="btn btn-dark btn-sm" name="submit"
									value="hinzufuegen_earning">Anpassen</button>
							</div>
						</form>
					</div>
				</div>
			</div>

			






		</div>
	</main>
	{% include "footer_template.html" %}


</body>

</html>