<!DOCTYPE html>
<html lang="de">
{% include "header_template.html" %}
<body>
	{% include "navigation_template.html" %}
<main>

<!--Titel der Seite-->
<div class="card">
		<div class="card-body">
		  <h2 class="card-title">Edit</h2>
		</div>
</div>

<br>

<!--Buttons als Auswahl-->
<div class="btn-group" role="group" aria-label="Second group">
    <div>
        <a class="btn btn-dark btn-large" href="{{ url_for('edit_fixkosten') }}" role="button">Fixkosten</a>
    </div>
    <div>
        <a class="btn btn-dark btn-large" href="#" role="button">Fixeinnahmen</a>
    </div>
    <div>
        <a class="btn btn-dark btn-large" href="#" role="button">Monat</a>
    </div>
</div>

</main>
{% include "footer_template.html" %}
    
    
</body>
</html>