<!DOCTYPE html>
<html lang="de">
{% include "header_template.html" %}

<body>
	{% include "navigation_template.html" %}
	<main>
		<div class="container">
			<!--Begrüssung-->
			<div class="card text-center">
				<div class="card-body">
					<h1 class="card-title">Willkommen beim Budget-Planer!</h1>
				</div>
			</div>

			<br>

			<!--Auswahl der Seitenmöglichkeiten-->
			<div class="card-deck">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Neuer Monat</h5>
						<p class="card-text">Lege einen neuen Monat an.</p>
					</div>
					<div class="card-footer">
						<form method="POST">
							<div class="form-group">
								<label for="exampleFormMonthSelect">Monat</label>
								<select class="form-control" id="exampleFormMonthSelect" name="month">
									<option value="1">Januar</option>
									<option value="2">Februar</option>
									<option value="3">März</option>
									<option value="4">April</option>
									<option value="5">Mai</option>
									<option value="6">Juni</option>
									<option value="7">Juli</option>
									<option value="8">August</option>
									<option value="9">September</option>
									<option value="10">Oktober</option>
									<option value="11">November</option>
									<option value="12">Dezember</option>
								</select>
							</div>
							<div class="form-group">
								<label for="exampleFormYearSelect">Jahr</label>
								<select class="form-control" id="exampleFormYearSelect" name="year">
									<option>2019</option>
									<option>2020</option>
									<option>2021</option>
									<option>2022</option>
								</select>
							</div>
							<div class="form-group">
								<button type="submit" class="btn btn-dark btn-sm" name="submit"
									value="hinzufuegen">Hinzufügen</button>
							</div>
						</form>
					</div>
				</div>
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Bestehender Monat</h5>
						<p class="card-text">Sieh dir einen Monat im Überblick an und bearbeite diesen.</p>
					</div>
					<div class="card-footer">
						<form method="POST">
							<div class="form-group">
								<label for="exampleFormMonthSelect">Monat</label>
								<select class="form-control" id="exampleFormMonthSelect" name="month">
									<option value="1">Januar</option>
									<option value="2">Februar</option>
									<option value="3">März</option>
									<option value="4">April</option>
									<option value="5">Mai</option>
									<option value="6">Juni</option>
									<option value="7">Juli</option>
									<option value="8">August</option>
									<option value="9">September</option>
									<option value="10">Oktober</option>
									<option value="11">November</option>
									<option value="12">Dezember</option>
								</select>
							</div>
							<div class="form-group">
								<label for="exampleFormYearSelect">Jahr</label>
								<select class="form-control" id="exampleFormYearSelect" name="year">
									<option>2019</option>
									<option>2020</option>
									<option>2021</option>
									<option>2022</option>
								</select>
							</div>
							<div class="form-group">
								<button type="submit" class="btn btn-dark btn-sm" name="submit"
									value="uebersicht">Übersicht</button>
							</div>
						</form>
					</div>
				</div>
			</div>

			<br>

			<div class="card-deck">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Einnahmen hinzufügen</h5>
						<p class="card-text">Füge neue Einnahmen hinzu, die zu erhalten hast.</p>
					</div>
					<div class="card-footer">
						<form method="POST">
							<div class="form-group">
								<label for="exampleEarningsAmountInput1">Betrag</label>
    							<input type="number" class="form-control" id="exampleEarningsAmountInput1">
							</div>
							<div class="form-group">
								<label for="exampleEarningsTitleInput1">Titel</label>
    							<input type="text" class="form-control" id="exampleTitleAmountInput1" placeholder="Bsp. Lohn">
							</div>
							<div class="form-group">
								<button type="submit" class="btn btn-dark btn-sm" name="submit"
									value="hinzufuegen">Hinzufügen</button>
							</div>
						</form>
					</div>
				</div>
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Kosten hinzufügen</h5>
						<p class="card-text">Füge neue Kosten hinzu, die angefallen sind.</p>
					</div>
					<div class="card-footer">
						<form method="POST">
							<div class="form-group">
								<label for="exampleEarningsAmountInput2">Betrag</label>
    							<input type="number" class="form-control" id="exampleEarningsAmountInput2">
							</div>
							<div class="form-group">
								<label for="exampleEarningsTitleInput2">Titel</label>
    							<input type="text" class="form-control" id="exampleTitleAmountInput2" placeholder="Bsp. Miete">
							</div>
							<div class="form-group">
								<button type="submit" class="btn btn-dark btn-sm" name="submit"
									value="hinzufuegen">Hinzufügen</button>
						</form>
					</div>
				</div>
			</div>

			






		</div>
	</main>
	{% include "footer_template.html" %}


</body>

</html>