<!DOCTYPE html>
<html lang="de">
{% include "header_template.html" %}

<body>
  {% include "navigation_template.html" %}
  <main>

    <!--Titel der Seite-->
    <div class="container">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title">Monatsübersicht</h1>
        </div>
      </div>

      <br>
      <br>

      <h2>Übersicht Einnahmen</h2>

      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th scope="col" class="col-4">Betrag</th>
            <th scope="col" class="col-4">Beschreibung</th>
            <th scope="col" class="col-4"> </th>
          </tr>
        </thead>
        <tbody>


          {%for key,value in income.items()%}

          <tr>
            <td class="text-allign">{{value['amount']}} CHF</td>
            <td>{{value['title']}}</td>
            <td><a href="http://127.0.0.1:5000/edit/earning/{{key}}/{{year}}/{{month}}" class="btn btn-dark btn-sm" role="button">Bearbeiten</a>
              <a href="http://127.0.0.1:5000/delete/earning/{{key}}/{{year}}/{{month}}" class="btn btn-danger btn-sm" role="button">Löschen</a></td>
          </tr>
          {% endfor %}


        </tbody>
      </table>

      <br>

      <h2>Übersicht Kosten</h2>

      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th scope="col" class="col-4">Betrag</th>
            <th scope="col" class="col-4">Beschreibung</th>
            <th scope="col" class="col-4"></th>
          </tr>
        </thead>
        <tbody>


          {%for key,value in expenses.items()%}

          <tr>
            <td class="text-allign">{{value['amount']}} CHF</td>
            <td>{{value['title']}}</td>   
            <td><a href="http://127.0.0.1:5000/edit/expenses/{{key}}/{{year}}/{{month}}" class="btn btn-dark btn-sm" role="button">Bearbeiten</a>  
                <a href="http://127.0.0.1:5000/delete/expenses/{{key}}/{{year}}/{{month}}" class="btn btn-danger btn-sm" role="button">Löschen</a></td>
          </tr>
          {% endfor %}


        </tbody>
      </table>

      <br>

    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Summe</th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col" class="text-right">{{balance}} CHF</th>
        </tr>
      </thead>

    </table>




      <button onclick="javascript:window.print()" class="btn btn-print btn-dark btn-sm">Print</button>

      <a class="btn btn-print btn-dark btn-sm" a href="mailto:jessica_nigg@hotmail.de?subject=Saldo Monat&amp;body=Das ist dein Saldo für die Überweisung: {{balance}} CHF">Email</a>

    </div>
  </main>
  {% include "footer_template.html" %}


</body>

</html>